/******************************/
/* BELOW 1344px (Smaller computers) */
/******************************/

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
}

/******************************/
/* BELOW 1200px (Tablets) */
/******************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }
}

/******************************/
/* BELOW 944px (Tablets) */
/******************************/

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .hero-img-box {
    grid-row: 1;
  }
  .heading-primary {
    font-size: 4rem;
  }
  .hero-description {
    font-size: 1.8rem;
  }
  .hero {
    grid-template-columns: 1fr;
  }
  .hero-text-box {
    order: 1;
    text-align: center;
  }

  .hero-img-box {
    order: 2;
    text-align: center;
  }
  .hero-img {
    width: 40%;
  }

  .pricing-header {
    font-size: 3.6rem;
    color: #333;
    padding: 0 0 1rem 0;
  }
  .pricing-description {
    font-size: 1.8rem;
    padding: 0 0 3rem 0;
  }

  .offer-title {
    font-size: 2.2rem;
    padding: 1rem 0;
  }

  .offer-price {
    font-weight: 700;
    font-size: 3.2rem;
    padding: 0rem 0 0 0;
  }

  .offer-monthly {
    font-size: 1rem;
    margin: 0 0 2rem 0;
  }

  .most-popular-box {
    padding: 2.1rem 0;
    margin: 0rem 0 0 0;
  }

  .offer-box,
  .offer-box:visited {
    background-color: #fff;
    border-radius: 20px;
    width: 28rem;
    height: 32rem;
    filter: drop-shadow(0px 12px 4px #c0b8c4);
    flex-direction: column;
    flex: 1;
  }

  .suggested-offer-box,
  .suggested-offer-box:link,
  .suggested-offer-box:visited {
    background-color: #660099;
    color: #f9e300;
    border-radius: 20px;
    width: 35rem;
    height: 35rem;
    filter: drop-shadow(0px 12px 4px #c0b8c4);
    flex-direction: column;
    flex: 1;
  }

  .testimonial-title {
    font-size: 3.6rem;
  }

  .testimonial-text-box {
    max-width: 20rem;
    padding: 2rem 0;
  }

  .testimonial-text {
    max-width: 17rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  .user-card {
    max-width: 70rem;
    max-height: 12rem;
  }

  .user-picture {
    max-width: 6rem;
  }

  .user-name {
    font-size: 1.2rem;
  }

  .user-review {
    font-size: 1.4rem;
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-container {
    margin: 0rem 5rem 0 5rem;
  }

  .cta-heading {
    font-size: 2.8rem;
  }

  .cta-text {
    padding: 0 5rem;
    font-size: 1.6rem;
    line-height: 1.5;
  }

  .cta-form {
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 0 2rem;
  }

  .cta-label {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .cta-form input,
  .cta-form select {
    font-size: 1.6rem;
  }

  .btn {
    font-size: 1.6rem;
  }

  /*Mobile Navigation*/
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.967);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  /******************************/
  /* BELOW 704px (Smaller Tablets) */
  /******************************/
  @media (max-width: 44em) {
    html {
      font-size: 40%;
    }
    .featured-logo {
      max-width: 6rem;
      max-height: 6rem;
    }

    .most-popular-box {
      max-height: 900rem;
    }

    .offer-list {
      line-height: 1rem;
    }

    .offer-list-element {
      line-height: 1rem;
    }

    .most-popular-text {
      font-size: 1.4rem;
      letter-spacing: 2.5px;
    }
  }

  /******************************/
  /* BELOW 544px (Phones) */
  /******************************/

  @media (max-width: 34em) {
    grid {
      row-gap: 4.8rem;
    }
    .flex {
      flex-direction: column;
    }
    .step {
      padding: 0 0 0rem 0;
    }
    .step-area {
      padding: 0 8rem;
    }

    .step--3 {
      margin-bottom: 8rem;
    }
    .pricing-flex {
      flex-direction: column;
    }
    .offer-box,
    .suggested-offer-box {
      height: 40rem;
      width: 40rem;
    }

    .featured-in-box {
      flex-direction: row;
      padding: 0 0 10rem 0;
    }

    .featured-logo {
      max-width: 4rem;
      max-height: 3rem;
    }

    .testimonial-flex {
      align-items: center;
    }
    .testimonial-text-box {
      max-width: 50rem;
      padding: 0rem 0;
    }
    .testimonial-text {
      max-width: 50rem;
      font-size: 1.8rem;
    }

    .cta {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1.5fr;
    }
    .cta-img-box {
      grid-row: 1;
      background-size: cover;
      background-position: center 60%;
    }
  }

  .grid--5-cols {
    grid-template-columns: repeat(3, 1fr);
  }
}
